.about {
    background-color: $background-section;
    @media screen and (max-width: $desktop) {
      display: none;}
       
  &__list {
    
    @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    }
  }
  
  &__unit {
    position:relative;
     }

  &__subtitle {
    display:flex;
    width:100%;
    padding-top: 27px;
    padding-bottom: 27px; 
    margin: 0;
    justify-content: center;
    /* align-items: center; */
  
    position:absolute;
    content: "";
    bottom: 0;
    left: 0;
  
    color: $text-on-a-dark-background;
    background-color: $background-about-card;
   }
}