.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    max-width: 1600px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    background-image: linear-gradient(
      to right,
      $background-hero,
      $background-hero);
      background-size: cover;

      @media screen and (max-width: $mobile-only) {
    background-image: url(../../imeges/mobile/hero/header.jpg);
      }
    
    
  &__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $text-on-a-dark-background;
    }
    @media screen and (min-width: $desktop) {
      &__title {
        font-size: 44px;
    line-height: 1.36;
      }
    }
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(../../imeges/mobile/hero/header2x.jpg);
    }
    }
      

    @media screen and (min-width: $tablet) and (max-width: $tablet-only) {
      .hero {
        background-image: url(../../imeges/tablet/hero/header.jpg);
      }
      
      @media screen  and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
          background-image: url(../../imeges/tablet/hero/header2x.jpg);
        }
        }
      }


      @media screen and (min-width: $desktop) {
        .hero {
          background-image: url(../../imeges/desktop/hero/main.jpg);
        }
        
        @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          .hero {
            background-image: url(../../imeges/desktop/hero/main2x.jpg);
          }
          }
        }