.logo {
    display: block;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.48;
    color: $color-logo;

    @media screen and (max-width: $tablet-only) {
      font-size: 24px;
      line-height: 1.167;
      letter-spacing: 0.03em;
    }

    @media screen and (max-width: $mobile-only) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    @media screen and (min-width: $tablet) and (max-width: $tablet-only) {
      margin-top: 26px;
      margin-bottom: 26px;
    }
  
       
  &__footer {
      color: $color-logo-footer;
      margin-bottom: 20px;
    @media screen and (max-width: $tablet-only) {
      margin-top: 0;
      text-align: center;
    }

  }
  &__accent {
    color: $color-logo-accent;
    
  }
}