.logo {
    display: block;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.48;
    color: $color-logo;

    @media screen and (max-width: $tablet) {
      margin-top: 16px;
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 1.167;
      letter-spacing: 0.03em;
    }
  
  &__footer {
    margin-bottom: 20px;
    text-align: center;
    color: $color-logo-footer;
  }
  &__accent {
    color: $color-logo-accent;
    
  }
}