.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: $background-section;
  border-bottom-width: 1px;
  border-bottom-color: #ECECEC;
  border-bottom-style: solid;
  
  &__conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    }
  }
.page-header__conteiner .menu-toggle {
  position: absolute;
    top: 10px;
    right: 16px;
    color: #212121;
}

  .nav  {
    @media screen and (max-width: $mobile-only) {
      display: none;
    }
    display: flex;
    margin: 0;
    padding: 0;


    margin-left: 93px;
    @media screen and (min-width: $tablet) and (max-width: $tablet-only) {
      margin-left: 88px;
      margin-right: 84px;
    }
  
  &__item:not(:last-child) {
    margin-right: 50px; }
  
  /* .nav__item + .nav__item {
    margin-left: 50px;
  } */

  /* .menu > .menu-item:not(:last-child) { */
    /* margin-right: 50px; } */
  
  &__link {
    position: relative;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    /* outline: 2px solid blue; */
  }
  &__link:hover,
  &__link:focus {
    color: $hover-color;
    
  }
  &__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $hover-color;
  }
  &__link--current {
    color: $hover-color;
  }
}

  .header-contact {
    margin: 0;
    margin-left: auto;
    
    @media screen and (max-width: $mobile-only) {
      display: none;
    }
    display: flex;
    @media screen and (min-width: $tablet) and (max-width: $tablet-only) {
      flex-wrap: wrap;
      padding-top: 16px;
      padding-bottom: 16px;
      
    }
    
    
    
  &__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-text;
    @media screen and (min-width: $tablet) and (max-width: $tablet-only) {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
    /* outline: 2px solid blue; */
  }
  
  &__icon {
    margin-right: 10px;
    fill: $secondary-text; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  
  &__hover-zone:hover &__icon,
  &__hover-zone:focus &__icon {
     fill: $hover-color;
  }
  
  &__link:hover,
  &__link:focus {
    color: $hover-color;
  }
  
  &__item:not(:last-child) {
      margin-right: 50px;
  }
}
 