.preferens {
     background-color: $background-section;
  
  &__list {
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -15px;
       
  }
  
  &__unit {
    display: block;
    margin: 15px;
    @media screen and (min-width: $tablet) {
      width: calc((100% - 4*15px) / 2);
      }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 8*15px) / 4);
       } 
  }
  
  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-text;
  }
  
  &__imeg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: $background-tim;
    border-radius: 4px;
  }
}
  