.preferens {
    padding-top: 94px;
    background-color: $background-section;
  
  &__list {
    display: flex;
    justify-content: space-between;
  }
  
  &__unit {
    width: calc((100% - 90px) / 4);
  }
  
  &__unit:not(:last-child) {
      margin-right: 30px;
  }
  
  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-text;
  }
  
  &__imeg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: $background-tim;
    border-radius: 4px;
  }
}
  