.tim {  
    background-color: $background-tim;
  
  &__list {
    @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
    }
  }  
  
  &__unit {

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 15px;
            
    @media screen and (min-width: $tablet) {
      width: calc((100% - 4*15px) / 2);
      }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 8*15px) / 4);
       } 
    }
  
  &__text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
    }
  
  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #757575;
    margin-bottom: 16px;
    }
  }