.tim {  
    background-color: $background-tim;
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     }
 
  &__unit {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 15px;
            
    @media screen and (min-width: $tablet) {
      width: calc((100% - 2*15px) / 2);
      
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 6*15px) / 4);
      
    }
  }

  @media screen and (max-width: $mobile-only) {
    &__unit {
      margin-right: 0;
      margin-left: 0;
    }
    &__unit:first-child {
      margin-top: 0;
    }
    &__unin:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-only) {
    &__unit:nth-child(2n) {
      margin-right: 0;
    }
    &__unit:nth-child(2n+1) {
      margin-left: 0;
     }
    &__unit:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
    &__unit:nth-child(-n+2) {
      margin-top: 0;
    }

  }

  @media screen and (min-width: $desktop) {
    &__unit:nth-child(4n) {
      margin-right: 0;
    }
    &__unit:nth-child(4n+1) {
      margin-left: 0;
     }
    &__unit:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
    &__unit:nth-child(-n+4) {
      margin-top: 0;
    }
  }

  &__text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
    }
  
  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #757575;
    margin-bottom: 16px;
    }
  }