.work {
    display: flex;
    flex-wrap: wrap;

   &__border {
    border-left: 1px solid $border-color-portfolio-card;
    border-right: 1px solid $border-color-portfolio-card;
    border-bottom: 1px solid $border-color-portfolio-card;
    padding: 20px 24px;
    
    }
      
  &__unit {
    margin: 15px;
    @media screen and (min-width: $tablet) {
      width: calc((100% - 2*15px) / 2);
       }

    @media screen and (min-width: $desktop) {
      width: calc((100% - 4*15px) / 3);
       } 
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-only) {
    &__unit:nth-child(2n) {
      margin-right: 0;
    }
    &__unit:nth-child(2n+1) {
      margin-left: 0;
     }
    &__unit:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
    &__unit:nth-child(-n+2) {
      margin-top: 0;
    }

  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-only) {
    &__border--crutch {
      padding-bottom: 56px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__unit:nth-child(3n) {
      margin-right: 0;
     }
    &__unit:nth-child(3n+1) {
      margin-left: 0;
     }
    &__unit:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
    &__unit:nth-child(-n+3) {
      margin-top: 0;
    }
    }
  
 
  
  &__unit:hover,
  &__unit:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
    
  
  
  
  
  &__name {
    margin-bottom: 4px;
  
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  &__description {
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
  }
  
  &__card {
    position: relative;
    overflow: hidden;
  }
  &__unit:hover &__overlay {
    transform: translateY(0);
  }
  
  &__overlay {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
  
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__text {
    display: block;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03;
    
    color: $text-on-a-dark-background;
  }
 
}