.list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  
  h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /*components*/
  
  body {
    font-family: $main-font;
    color: #212121;
    letter-spacing: 0.03em;
    /* padding-top: 80px; */
   
  }
  
  img {
    display: block;
    max-width: 100%;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  @media screen and (max-width: $mobile) {
    width: $mobile;
  }
  
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
    
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
  
  .conteiner {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   
    @media screen and (max-width: $mobile) {
      width: $mobile;
    }
    
    @media screen and (min-width: $tablet) {
      width: $tablet;
    }
      
    @media screen and (min-width: $desktop) {
      width: $desktop;
    }
    
    }
 

  .section-title {
    margin-top: 0;
    margin-bottom: 50px;
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    }
  
  .subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    }