
    $main-font: 'Roboto', sans-serif;
    $secondary-font: 'Raleway', sans-serif;
    $hover-color: #2196f3;
    $background-section: #FFFFFF;
    $background-hero: rgba(47, 48, 58, 0.4);
    $background-about-card: rgba(47, 48, 58, 0.8);
    $background-tim: #f5f4fa;
    $background-footer: #2f303a;
    $background-backdrop: rgba(0, 0, 0, 0.2);
    $background-social-link-footer: rgba(255, 255, 255, 0.1);
    $background-passiv-btn-portfolio: #F5F4FA;
    $text-on-a-dark-background: #ffffff;
    $secondary-text: #757575;
    $secondary-text-footer: rgba(255, 255, 255, 0.6);
    $color-passiv-icon-link: #AFB1B8;
    $color-logo: #000000;
    $color-logo-accent: #2196f3;
    $color-logo-footer: #ffffff;
    $border-color-portfolio-card: #EEEEEE;
    $border-btn-close-modal: #ECECEC;
    $border-modal-input: rgba(33, 33, 33, 0.2);
    $text-modal-placeholder: rgba(117, 117, 117, 0.5);
    $text-footer-placeholder: rgba(255, 255, 255, 0.3);
    $mobail-menu-text: rgba(33, 33, 33, 1);
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px;
  